@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>THIS IS THE HOME PAGE</h1>
    <form method="post" asp-controller="Account" asp-action="SignOut">
        <button type="submit">Sign Out</button>
    </form>

</div>
