@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="~/js/login.js" asp-append-version="true"></script>
        <title>Flatties | Sign Up</title>
    </head>
    <body>
        <div class="container">
            <div class="page-container">
                <img id="house" src="~/SVG/house.svg" alt="My House">
                <div class="title">
                    <h1>FLATTIES</h1>
                    <p>Enhance your flatting experience TODAY!</p>
                </div>
                <form id="login-form" action="/submit" method="post">
                    <div class="login-container">
                        <i class="fas fa-user"></i>
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>
        
                    <div class="login-container">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>

                    <div class="remember-forgot">
                        <div id="remember-me">
                            <input type="checkbox" name="remember" id="remember">
                            <label class="form-info" for="remember">Remember Me</label>
                        </div>
                        <a class="form-info" href="#">Forgot Password?</a>
                    </div>
                    
                    <button id="login" type="submit">Login</button>

                    <div class="create-acc">
                        <p class="form-info" > Don't have an account? <a href="#"> Sign Up</a></p>
                    </div>
                </form>
                <div class="form-background" id="B">
                </div>
            </div>
            <div class="form-background" id="A">
            </div>
        </div>
    </body>
</html>