@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="~/js/login.js" asp-append-version="true"></script>
        <title>Flatties | Sign Up</title>
    </head>
    <body>
        <div class="container">
            <div class="page-container">
                <img id="house" src="~/SVG/house.svg" alt="My House">
                <div class="title">
                    <h1>FLATTIES</h1>
                    <p id="auth-title">Create an account!</p>
                </div>
                <form id="login-form" action="/submit" method="post">
                    <div class="login-container">
                        <i class="fas fa-user"></i>
                        <input type="text" name="givenName" id="givenName" placeholder="Given Name" required>
                    </div>
                    <div class="login-container">
                        <i class="fas fa-user"></i>
                        <input type="text" name="surname" id="surname" placeholder="Surname" required>
                    </div>
                    <div class="login-container">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" id="email" placeholder="Email Address" required>
                    </div>
                    <div class="login-container">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                        <i class="fas fa-eye toggle-password" id="toggle-password"></i>
                    </div>
                    <div class="login-container">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" id="confirm-password" placeholder="Confirm Password" required>
                        <i class="fas fa-eye toggle-password" id="toggle-password-1"></i>
                    </div>
                    
                    <button id="login" type="submit">Create Account</button>

                    <div class="create-acc">
                        <p class="form-info" > Already Have an account? <a href="#"> Login</a></p>
                    </div>
                </form>
                <div class="form-background" id="B">
                </div>
            </div>
            <div class="form-background" id="A">
            </div>
        </div>
    </body>
</html>