input {
    border: none;
    padding: 0.8rem 2.5rem;
    border-radius: 1.5rem;
    border-color: var(--grey-input);
    background-color: var(--grey-input);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    font-size: var(--fs-500);
}

.form-info{
    padding: 0;
    margin: 0;
    font-size: var(--fs-400);
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--login-back);
}

.page-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1em;
    min-height: 100vh;
    justify-content: center;
}

.login-container {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.login-container i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.title {
    text-align: center;
    color: var(--theme-color);
    margin-bottom: 2rem;
}
.title p{
    font-size: var(--fs-600);
}

.title h1{
    font-size: var(--fs-title);
}
.title p,h1{
    font-family: 'Montserrat', sans-serif;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
}

.form-background{
    bottom:0;
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--theme-color);
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    z-index: 0;
}

#login{
    border: none;
    padding: 0.5em;
    font-size: var(--fs-500);
    margin: 1em auto;
    width: 100%;
    display: block;
    border-radius: 0.7rem;
    background-color: var(--theme-color);
    color: white;

}
#login:hover{
    cursor: pointer;
    background-color: #00cbb6;
}

#house{
    width: var(--fs-house);
}

#A{
    top: 65%;
    width: 100%;
}

#B{
    display: none;
    top: 65%;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#login-form{
    padding: 2.5rem;
    background-color: var(--white-form);
    border-radius: 0.7rem;
    z-index: 1;
} 

@media (min-width: 320px) {
    .page-container {
        /* margin-top: 4rem; */
    }
    .container{
        position: relative;
    }

    #login-form{
        width: 14rem;
    }
    .form-background{
        top: 40rem;
    }
    
}
@media (min-width: 768px) {
    #login-form{
        width: 15.5rem;
    }
    
}
@media (min-width: 1024px) {
    .page-container {
        /* padding-top: 5rem; */
        position: relative;
        width: 65%;
        max-width: 50rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    #login-form{
        width: 17rem;
    }

    .form-background{
        top: 65%;
        width: 100%;
        position: absolute;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    #B{
        display: block;
    }

    #A{
        display: None;
    }
}