<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/js/auth.js" asp-append-version="true"></script>
    <title>Flatties | Login</title>
</head>

<body>
    <div class="container">
        <div class="page-container">
            <img id="house" src="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/SVG/house.svg" alt="My House">
            <div class="title">
                <h1>FLATTIES</h1>
                <p>Enhance your flatting experience TODAY!</p>
            </div>
            <div id="api"></div>
            <div class="form-background" id="B">
            </div>
        </div>
        <div class="form-background" id="A">
        </div>
    </div>
</body>

</html>
