<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Flatties | Register</title>
</head>

<body>
    <div class="container  unified_container " role="presentation">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="companyLogo" data-tenant-branding-logo="true" src="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/SVG/house.svg" alt="Company Logo">
                        <div id="api" role="main">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-background" id="A">
            </div>
        </div>
    </div>
    <script src="https://adb2cflatties.blob.core.windows.net/authentication/wwwroot/js/auth.js" asp-append-version="true"></script>
</body>
</html>
